@page "/languages"
@using BlazorDemo.Shared.ApiModels;

@inject HttpClient httpClient

<h3>
    Languages 
    @if (!string.IsNullOrEmpty(searchTerm))
    {
        <span class="text-secondary">(Starting with "@searchTerm")</span>
    }
</h3>

<input @bind-value="searchTerm" @bind-value:event="oninput" />
<button @onclick="() => searchTerm = null">Clear</button>
<ul>
    @foreach (var language in filteredLanguages)
    {
        <li>@language.Name</li>
    }
</ul>

@code {
    private List<LanguageApiModel> languages = new();
    private string? searchTerm;
    private IEnumerable<LanguageApiModel> filteredLanguages => languages.Where(l => l.Name.StartsWith(searchTerm ?? "", StringComparison.InvariantCultureIgnoreCase));

    protected override async Task OnInitializedAsync()
    {
        languages = await httpClient.GetFromJsonAsync<List<LanguageApiModel>>("api/languages");
    }
}
