@page "/languages"
@using BlazorDemo.Client.Services;
@using BlazorDemo.Shared.ApiModels;

@inject ILanguageService languageService

<h3>
    Languages
    @if (!string.IsNullOrEmpty(searchTerm))
    {
        <span class="text-secondary">(Starting with "@searchTerm")</span>
    }
</h3>

<input @bind-value="searchTerm" @bind-value:event="oninput" />
<button @onclick="() => searchTerm = null">Clear</button>
<ul>
    @foreach (var language in filteredLanguages)
    {
        <li><LanguageDisplay Name="@language.Name" HasWasmCompiler="language.HasWasmCompiler"></LanguageDisplay></li>
    }
</ul>

<h4>Add language</h4>
<input @bind-value="newLanguageName" />
<button @onclick="AddLanguage">Add</button>

@code {
    private List<LanguageApiModel> languages = new();
    private string? searchTerm;
    private IEnumerable<LanguageApiModel> filteredLanguages => languages.Where(l => l.Name.StartsWith(searchTerm ?? "", StringComparison.InvariantCultureIgnoreCase));

    protected override async Task OnInitializedAsync()
    {
        languages = await languageService.GetLanguages();
    }


    private string? newLanguageName;
    private async Task AddLanguage()
    {
        if (string.IsNullOrEmpty(newLanguageName)) return;

        await languageService.AddLanguage(new LanguageApiModel
        {
            HasWasmCompiler = false,
            Name = newLanguageName
        });

        languages = await languageService.GetLanguages();

        newLanguageName = null;
    }
}
